
@{
    ViewBag.Title = "Cảng cá";
}

@using (Html.BeginForm())
{ 
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class="col-md-2 control-label">Cảng cá</div> 
            <div class="col-md-10">
                <select class="form-control">
                    <option value="">Cảng Quy Nhơn</option>
                    <option value="">Cảng Đề Gi</option>
                    <option value="">Cảng đảo Cù Lao Xanh</option>
                    <option value="">Cảng Tam Quan</option>
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-2 control-label">Tổng lượng hàng qua cảng</div>
            <div class="col-md-10">
                <input type="text" value="2500" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">Sản lượng thủy sản</div>
            <div class="col-md-10">
                <input type="text" value="2200" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">Số lượt tàu cập cảng</div>
            <div class="col-md-10">
                <input type="text" value="580" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">Ngày ghi nhận</div>
            <div class="col-md-10">
                <input type="text" value="26/07/2015" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">Người cập nhật</div>
            <div class="col-md-10">
                <input type="text" value="TungND" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật" class="btn btn-primary"  />
                &nbsp;
                @Html.ActionLink("Quay lại", "Index")
            </div>
        </div>
    </div>
}