@{
    ViewBag.Title = "Access denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hgroup>
        <h3>Error.</h3>
        <h4>An error occurred while processing your request: Access denied!</h4>
    </hgroup>

</div>