<div class="modal-header fdb-panel-header-10">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h5 class="modal-title" id="myModalLabel">Cảnh báo</h5>
</div>


<div class="modal-body fdb-panel-body-0">
    <table class="table table-hover table-striped table-condensed">
        <tr>

            <td>Có @ViewBag.TotalRow giấy phép hết hạn
                <a href="">Chi tiết</a>
            </td>
           
            
        </tr>
        <tr>

            <td>
                Có @ViewBag.TotalRow đăng kiểm hết hạn
                <a href="">Chi tiết</a>
            </td>
        </tr>
     </table>
</div>



